/* Upcoming Movies -- The background colour of the heading should be #ff9999.
The Upcoming Movies heading should have a padding of 8px from all the sides.
The text of the heading should be centre-aligned.
The font size of the text should be 1rem. */

.movies-Heading {
    text-align: center;
    background:#ff9999;
    padding: 8px;
    font-size: 1rem;
}

/* The left side for showing the movies’ images, which occupy 76% of the page width, */

.left {
    width: 76%;
}

/* right side to show the filters, which occupy 24% of the page width */

.right {
    padding-top: 20px;
    width: 24%;
}

/* You should use the CSS property flex-container and set the value of display as flex. Also, these two parts should have a margin of 16px. */

.flex-container {
    display: flex;
}

.flex-container>div {
    margin: 16px;
}










::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.movie-poster {
    cursor: pointer;
    height: 100%;
    width: 100%;
}


.released-movie-grid-item {
    margin: 15px;
}

@media (max-width: 992px) {
    .flex-container {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 90%;
    }
    
}